body,
html {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/*ID: has the highest specificity, it always wins
only way to over ride it is by writing inline styles
 (not advisable)*/
#my-header {
    background-color: rgb(241, 71, 71);
}

.my-header {
    display: block;
    background-color: #202020;
    height: 48px;
}
.my-header .logo{
    display: inline-block;
    color: #fff;
    font-weight: 800;
    border: 1px solid green;
}

.navigation{
    display: inline-block;
    border: 1px solid green;
    background-color: transparent;
}
.navigation ul{
    list-style: none;
    
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    
}
/* direct descendant of .navigation*/
.navigation > a{
    color: blue;
    border: 1px dotted green;
    padding: 10px;
}
.navigation ul li {
    display: inline-block;
}


.hero-banner{
    background-color: aqua;
    background-image: url("/img/guitar-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
   
}

.inner {
    width: 1080;
    margin: 0 auto;
    
    border: 1px solid rgb(224, 131, 131);
}
.our-guitars {
    height: 100px;

}

.our-guitars ul li {
   margin: 8px;
   
}

img {
   max-width: 1024;
   padding: 0%;
   border-radius: 50px;
   display: inline-block;  
}

.image-3{
    float: center;
}

.text {
    text-align: left;
    display: block;
    padding: 0%;
    
}


    

/* margin: t0 R0 B0 L0;
   margin: Top Right Bottom Left;
*/
.footer {
    background-color: rgb(88, 184, 160);
    position: absolute;
    bottom: -1000px;
    width: 100%;
    height: 5%;
    
}

body#home-page {
    background-color: rgb(255, 255, 255);
}

body#home-page h1 {
    color:royalblue
}


body#guitar-page {
    background:rgb(255, 255, 255);
}

body#guitar-page h1 {
    color:rgb(255, 255, 255)
}

